{% extends 'base.html.twig' %}

{% block title 'Agence lorem ipsum' %}

{% block body %}
    <div class="container mt-4">

        <h1>Agence lorem ipsum</h1>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid architecto autem eum eveniet, expedita fugiat fugit laborum minus nam natus nemo nisi nulla placeat possimus quae sapiente voluptas? Asperiores, illum!
        </p>
    </div>
{% endblock %}
